<ion-view title="Home">
    <ion-content padding="'true'" class="has-header">
        <form class="list"></form>
        <ion-list></ion-list>
        <ion-list></ion-list>
        <a menu-close="" href="#/page2" class="button button-positive button-block  icon-left ion-navicon">Cards</a>
        <a menu-close="" href="#/page3" class="button button-dark button-block  icon-left ion-clipboard">Forms</a>
        <a menu-close="" href="#/page4" class="button button-balanced button-block  icon-left ion-android-bookmark">Toggle</a>
        <a menu-close="" href="#/page5" class="button button-assertive button-block  icon-left ion-android-sync">Action Sheet</a>
        <a menu-close="" href="#/page6" class="button button-calm button-block  icon-left ion-beaker">Modal</a>
        <a menu-close="" href="#/page7" class="button button-energized button-block  icon-left ion-ios-game-controller-a-outline">Popup</a>
        <a menu-close="" href="#/page8" class="button button-royal button-block  icon-left ion-social-android">Event</a>
        <div class="button-bar">
            <a menu-close="" href="#/page13" class="button button-stable button-block button-small icon-right ion-android-checkbox-outline">Checks</a>
            <a menu-close="" href="#/page14" class="button button-stable button-block button-small icon-right ion-android-arrow-forward">Range</a>
            <a menu-close="" href="#/page15" class="button button-stable button-block button-small icon-right ion-volume-high">Radio</a>
        </div>
    </ion-content>
</ion-view>